<div class="modal-header">
  <h3 class="modal-title">Terms and Conditions</h3>
</div>

<div class="modal-body">
  <h4>Title</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess</p>

  <h4>Title</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess</p>
  <hr/>
  <center>
    <div id="google-ads-1"></div>
  </center>
</div>
<div class="modal-footer">
  <button class="btn btn-primary pull-left" type="button" ng-click="agree()">Agree</button>
  <button class="btn btn-warning " type="button" ng-click="disagree()">Disagree</button>
</div>